/*DEVELOPER: Mithil Patel, IS117-003, Fall, 2022 */

/* the styles for the elements */
html{
    background-color: #aab1ea;
}

body {
	font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    width: auto;
    margin: 0 20px;
    background-color: #aab1ea;
}

#allImages{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    padding: 1em;
    float: right;
    border: 5px solid black;
    margin-top: 100px;
}
#col{
    width: 2000px;
    background-color: #aab1ea;

}
/* the styles for the footer */
footer {
	background-color: #aab1ea;
	clear: both;

}
footer p {
	text-align: center;
	color: black;
	padding: 1.5em 0;
}